:root{
    --button-color: rgb(176, 99, 248);
    --button-hover: rgb(250, 93, 93);
    --correct-ans: limegreen;
    --wrong-ans: red;
}


body {
    background-color: beige;
}
h1, p, blockquote{
    text-align: center;
}
button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 17px 52px;
    border-radius: 98px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    transition-duration: 0.4s;
    width: 50%;
}
button:hover {
    cursor: crosshair;
    background-color: var(--button-hover);
}
footer {
    text-align: center;
}